<!DOCTYPE html>
<html>
<head>
    <title>HTML Content Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Recipe Manager</h1>
    
    <h2>Add a Recipe</h2>
    <form method="POST" action="/">
    Tarif Başlığı:<br> <input required type="text" name="button_text"><br>
    Tarif İçeriği:<br>
    <textarea name="text" rows="5" cols="50" id="editor"></textarea>  <!-- CKEditor metin girişi alanını yükle -->
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>  <!-- CKEditor'ı yükle -->
    <script>
        CKEDITOR.replace('editor');  // Metin girişi alanını CKEditor ile değiştir
    </script>
    <input type="submit" value="Add Recipe"><br>
</form>

    <h2>Recipes</h2>
    <ul>
        {% for content in html_contents %}
            <li>
		    <a href="{{ url_for('show_content', content_id=content.id) }}">{{ content.button_text or 'Content ' + content.id|string }}</a>
	    </li>
        {% endfor %}
    </ul>
</body>
</html>

